.App {
  padding: 0px;
  min-height: 100vh;
  box-sizing: border-box;
  max-width: 100vw;
  /* margin: 0px 2%; */
  text-align: center;
  background-color: white;
  background-image: url(https://media.istockphoto.com/vectors/seamless-vector-pattern-traces-of-paws-vector-id539440756?b=1&k=6&m=539440756&s=612x612&w=0&h=149YuwmttF07_avaHn9xp0YXDvPqvxlb_7hUfhbdl2M=);
}
