.cards {
    margin-top: 20px;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration: none;
}

.cards-link {
    text-decoration: none;
}

@media (max-width: 500px) {
    .cards {
        width: 50vw;
        min-width: 400px;
    }
}