.navBar {
    width: 100%;
    height: 10vh;
    max-height: 75px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(330, 2%, 25%);
}

.navBar img{
    margin-left: 10px;
    width: 65px;
}

.navBar img:hover {
    width: 68px;
}

.nav {
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline-block;
}

.nav-link {
    font-size: 1.3em;
    padding: 0 5px;
    text-decoration: none;
    margin: 0 10px;
    color: white;
    border-radius: 5px;
    transition: 0.6s color; 
    transition: 0.3s font-size; 
}

.nav-link:hover {
    font-size: 1.6em;
    height: 10vh;
    padding-left: 10px;
    /* color: rgb(107, 63, 33); */
    color: #45E8E5;
}

.nav-s {
    height: 25px;
    width: 40%;
    border: none;
    border-radius: 30px;
    margin-right: 5px;
    transition: 0.7s width;
}

.nav-s:hover {
    width: 80%;
    border: none
}

.nav-bs {
    font-size: 15px;
    background-color: transparent;
    border: none;
}

.nav-bs:hover {
    color: #45E8E5;
}

@media (max-width: 800px) {
    .navBar {
        padding: 0px 10px;
        font-size: 0.7em;
    }
    .navBar img{
        margin-left: 2px;
        width: 50px;
    }

    .navBar img:hover {
        width: 55px;
    }
}

@media (max-width: 500px) {
    .nav-bs {
        display: none;
    }
    .nav-s {
        width: 40%;
        margin: 0;
    }
    .nav-s:hover {
        width: 60%;
        border: none
    }
}

