.w{
    margin: 0;
    padding: 0;
    background: url(https://images8.alphacoders.com/371/thumb-1920-371423.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.w-t{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.26);
    width: 40vw;
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 0 20px black;
}

.w-t p {
    margin: 50px;
    font-size: 1.5em;
}

.w-b {
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    width: 80%;
    height: 12%;
    background-color: rgba(212, 127, 71, 0.842);
    background-color: #45E8E5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2em;
    color: white;
}

.w-b:hover {
    background-color: white;
    color: rgba(250, 173, 121, 0.925);
}

@media (max-width: 1000px) {
    .w-t{
        width: 90vw;
        height: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        box-shadow: 0 0 20px black;
    }
}